
body {
  margin: 0;
  overscroll-behavior-y: none;
  background-color: rgb(44,66,92);
  background-image: url(https://cdn.tiye.me/background/gnome-bg.jpg);
  background-size: cover;
 }

body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

.dev-shadows,
.dev-shadows * {
  box-shadow: 0 0 1px hsla(0,0%,0%,0.3);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: hsla(0,0%,100%,0.4);
}
