
body {
  margin: 0;
  overscroll-behavior-y: none;
  background-color: hsl(200,16%,32%);
/* background-image: url(https://cdn.tiye.me/background/gnome-bg.jpg); */
  background-size: cover;
 }

body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

.dev-shadows,
.dev-shadows * {
  box-shadow: 0 0 1px hsla(0,0%,0%,0.3);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: hsla(0,0%,50%,0.4);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgb(44,66,92);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(200,20%,70%,0.8);
  border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-resizer {
  background-color:transparent;
}
